<h1>{{workout.workout_name}}</h1>
<table>
    <th>Data</th>
    <tr>
        <td>Workout Type:</td>
        <td></td>
        <td>{{workout.workout_activity}}</td>
    </tr>
    <tr>
        <td>Start Time:</td>
        <td></td>
        <td>{{workout.start_time}}</td>
    </tr>
    <tr>
        <td>End Time:</td>
        <td></td>
        <td>{{workout.end_time}}</td>
    </tr>
    <tr>
        <td>Perceived Effort:</td>
        <td></td>
        <td>{{workout.effort}}</td>
    </tr>
    <tr>
        <td>Perceived Performance:</td>
        <td></td>
        <td>{{workout.performance}}</td>
    </tr>
    <tr>
        <td>Comments:</td>
        <td></td>
        <td>{{workout.comments}}</td>
    </tr>
</table>